version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: crypto-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=crypto_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"  # expose to host on 5433
    volumes:
      - ./server/db/pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d crypto_db"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - crypto-network
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - crypto-network

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - DEBUG=True
    volumes:
      - ./server:/app
    networks:
      - crypto-network

networks:
  crypto-network:
    driver: bridge
